:root {
  --bg-color: #0A0808;
  --main-color: #f6f7f1;
  --highlight-color: #2833FF;
  --accent-color: #00D002;
  --button-paddings: 12px 50px;
  --buttons-border-radius: 2px;
  --ubuntu-font-family: "Ubuntu Mono", monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: var(--bg-color);
}

.section1, .section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.section2 {
  width: 90%
}

.accent {
  color: var(--accent-color);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar {
  /* background-color: var(--bg-color); */
  border-bottom: 1px solid var(--highlight-color);
  color: var(--main-color);
  font-size: 14px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-link.active {
  color: var(--accent-color);
}

.my-nav-bg {
  background-color: var(--bg-color);
}

.my-nav {
  justify-content: center;
}

.my-nav-gap {
  gap: 20px;
}

.hero-accent {
  font-size: 26px;
  color: var(--accent-color);
}

.content-wrapper {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  color: var(--main-color);
  font-family: "Inter", sans-serif;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/177/767/original/hero.png?1769785612);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, h4 {
  font-family: "Cousine", monospace;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 93.4vh;
  position: fixed;
  /* border: 2px dotted blue; */
}



.hero-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.hero-img {
  background-size: cover;
  height: 100%;
}

.hero-mob {
  background-size: cover;
  height: 100%;
  display: none;
}

.hero-horiz-mob {
  background-size: cover;
  height: 100%;
  display: none;
}

.hero-buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.main-btn,
.about {
  border-radius: var(--buttons-border-radius);
  color: var(--main-color);
  text-decoration: none;
  padding: 14px 22px;
}

.main-btn {
  background: var(--highlight-color);
  padding: var(--button-paddings);
  transition: all 300ms ease;
}

.main-btn:hover {
  background: var(--accent-color);
  color: var(--bg-color);
}

.about {
  border: 1px solid var(--accent-color);
  padding: var(--button-paddings);
  transition: all 300ms ease;
}

.about:hover {
  background-color: var(--highlight-color);
  border: 1px solid var(--highlight-color);
}

.hero-scroll {
  display: flex;
  justify-content: center;
  padding: 25px;
}

.mouse {
  width: 35px;
  height: 60px;
  border: 1px solid #f6f7f085;
  border-radius: 60px;
  position: relative;
    -webkit-animation: beat 5s infinite;
	&::before {
		content: '';
		width: 9px;
		height: 9px;
		position: absolute;
		top: 10px;
		left: 50%;
		transform: translateX(-50%);
		background-color: #f6f7f085;
		border-radius: 50%;
		opacity: 1;
		animation: wheel 2s infinite;
		-webkit-animation: wheel 2s infinite;
	}
}

@keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}

@-webkit-keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}

@keyframes beat {
  0%   {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
  }
  50%  {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
  }
  100%  {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
  }
}

main {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  width: 95%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  padding: 32px;
  justify-content: center;
  align-items: center;
}

.projects-accent {
  font-size: 36px;
  color: var(--accent-color);
}

.project-field {
  display: flex;
  align-self: end;
  padding-left: 55px;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/177/766/original/1_1_%281%29_2.png?1769785065);
  width: 250px;
  color: var(--main-color);
  /* border-bottom: 1px solid var(--main-color); */
  /* opacity: 0.4; */
  font-weight: 200;
  font-size: 14px;
  justify-content: center;
  align-content: center;
  padding-top: 14px;
  font-family: 'Cousine';
  font-weight: 700;
  text-transform: uppercase;
  font-size: 22px;
}

.project-cards-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.project-card {
  display: flex;
  gap: 24px;
  padding: 15px;
  width: 82%;
}

.project-card:hover {
  background-color: var(--highlight-color);
  transition: all 300ms ease;
  transform: scale(1.01);
  border-radius: var(--buttons-border-radius);
}

.project-card.reverse {
  flex-direction: row-reverse;
}

.project-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.project-card-buttons {
  width: 100%;
  display: flex;
}

.project-card-buttons__items {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 14px;
}

/* .project-card-buttons.align-right {
  justify-content: flex-end;
} */

.project-technology {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: stretch;
}

.project-tech-text {
  padding: 10px 20px;
  border: 1px solid var(--highlight-color);
  background-color: var(--bg-color);
  text-align: center;
  width: 100%;
  transition: all 300ms ease;
}


.project-tech-text a {
  color: var(--main-color);
  text-decoration: none;
}

.project-tech-text:hover {
  background-color: var(--highlight-color);
}

.project-tech-text.accent-border {
  border: 1px solid var(--accent-color);

}

.project-tech-text.accent-border:hover {
  color: var(--highlight-color);
  background-color: var(--accent-color);
  letter-spacing: 2px;
}

.about-page-accent {
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.about-text {
  text-align: start;
}

.contact-link {
  color: var(--main-color);
  text-decoration: none;
}

.abt-img-gap {
  gap: 0px;
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.services-container {
  display: flex;
  flex-direction: column;
  padding: 32px;
  justify-content: center;
  align-items: center;
}

.services-card-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 25px 15px;
  width: 90%;
}

.service-title {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 16px;
}

.service-number {
  background-color: var(--highlight-color);
  padding: 8px 13px;
  border-radius: 4px;
  border: 1px solid #8E94FA;
}

.service-card {
  padding: 30px;
  background-color: var(--bg-color);
  border: 1px solid #807F7F;
  width: 80%;
  transition: all 300ms ease;
  border-radius: var(--buttons-border-radius);
}

.service-descr-text {
  width: 100%;
}

.service-card:hover {
  padding: 30px;
  background-color: var(--highlight-color);
  border: 1px solid #807F7F;
  width: 80%;
}

footer {
  /* background-color: var(--bg-color); */
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}

.footer-ripped {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/177/820/original/divider.png?1770042593);
  background-position: center;
  height: 103px;
  background-repeat: no-repeat;
  /* position: absolute; */
  width: 50%;
  left: 0;
  bottom: 0;
  z-index: 0;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  padding: 15px;
}

.logo {
  width: 150px;
}

.social-icons {
  display: flex;
  gap: 10px;
}



@media all and (max-width: 932px) {
  .hero-content-container {
    padding: 25px;
  }

  .hero-horiz-mob {
    display: block;
  } 

  .hero-img {
    display: none;
  } 

  .project-cards-container {
    padding-top: 25px;
  }

  .project-card {
    flex-direction: column;
    font-size: 14px;
    padding: 0;
    width: 100%;
  }

  .project-card.reverse {
    flex-direction: column;
  }

  .project-card-buttons__items {
    width: 100%;
    flex-direction: row;
  }

  .hero-accent {
    font-size: 22px;
  }

  .project-card-buttons {
    font-size: 12px;
  }

}



@media all and (max-width: 440px) {
  .hero {
    display: flex;
    flex-direction: column;
    padding: 27px;
  }

  .hero-img {
    display: none;
  }

  .hero-horiz-mob {
    display: none;
  } 

  .hero-accent {
    font-size: 15px;
  }

  .hero-mob {
    display: block;
  }  

  .hero-buttons {
    gap: 17px;
    font-size: 14px;
    display: flex;
    justify-content: stretch;
    width: 100%;
  }

  .main-btn, .about {
    padding: 12px;
    align-content: center;
    width: 100%;
    text-align: center;
  }

  .project-cards-container {
    padding-top: 25px;
  }

  .project-card {
    flex-direction: column;
    font-size: 14px;
    padding: 0;
    width: 100%;
  }

  .project-card-buttons {
    width: 100%;
    display: flex;
  }

  .project-card-buttons__items {
    width: 50%;
    flex-direction: column;
  }

  .project-card.reverse {
    flex-direction: column;
  }

  .project-card-buttons__items {
    width: 100%;
  }

  .abt-img-gap {
    gap: 10px;
  }
}

@media all and (max-width: 375px) {
  /* .hero {
    padding: 8px;
  } */
  .hero-content-container {
    padding: 2px;
  }

  .hero-accent {
        font-size: 12px;
  }
  
}